<h3 mat-dialog-title>Cấu hình gateway {{name}}</h3>

<div class="mat-dialog-content" mat-dialog-content>
  <mat-stepper #stepper labelPosition="bottom">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Chọn Hub model</ng-template>

        <tb-text-input [(text)]="name" name="Tên">
        </tb-text-input>
        <tb-hub-model-selection [(selection)]="model" name="Gateway model">
        </tb-hub-model-selection>
        <div>
          <button mat-button matStepperNext>Tiếp theo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Nguồn Hub</ng-template>

      <mat-form-field appearance="outline" class="form-filed">
        <mat-label>Nguồn Hub</mat-label>
        <mat-select [(ngModel)]="hubSource" [formControl]="formControlHubSource" (selectionChange)="reloadGatewaySource()">
          <mat-option
            *ngFor="let key of hubSources "
            [value]="key">{{key}}</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field *ngIf="hubSource==HubSource.GATEWAY" appearance="outline" class="form-filed">
        <mat-label>Gateway</mat-label>
        <mat-select [(ngModel)]="gatewaySource" [formControl]="formControlGatewaySource" (selectionChange)="reloadHubDevicesFromGateway()">
          <mat-option
            *ngFor="let key of GatewaySources "
            [value]="key.id.id">{{key.name}}</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field *ngIf="hubSource!=null" appearance="outline" class="form-filed">
        <mat-label>Thiết bị</mat-label>
        <mat-select [(ngModel)]="hubDevice" [formControl]="formControlHubDevice">
          <mat-option
            *ngFor="let key of HubDevices "
            [value]="key.id.id">{{key.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Quay lại</button>
        <button mat-button matStepperNext>Tiếp theo</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Cấu hình</ng-template>
      <div>
        <button mat-button matStepperPrevious>Quay lại</button>
        <button mat-button matStepperNext>Tiếp theo</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Kết thúc</ng-template>
      <p> {{status1}}</p>
      <div>
        <button mat-button matStepperPrevious>Quay lại</button>
        <button (click)="save($event)" mat-button>Tạo</button>
      </div>
    </mat-step>
  </mat-stepper>

</div>



<div mat-dialog-actions align="center">
  <button
          cdkFocusInitial mat-button mat-dialog-close>Ok
  </button>
</div>

