<div class="device-icon-container"
     (click)="entityClick($event)" *ngIf="deviceController"
     [style.font-size.px]="size*0.10"
     [style.height.px]="size"
     [style.width.px]="size"
     fxLayout="column"
     fxLayoutAlign="space-evenly center">
  <div class="device-icon-top" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="device-type-icon" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon [style.color]="getColor()"
                [style.height.px]="size*0.25"
                [style.width.px]="size*0.25"
                [svgIcon]="getIcon()"></mat-icon>
    </div>
    <div class="device-switch-toggle" fxLayout="column" fxLayoutAlign="center center">
      <!--todo: insert button feature at here-->
      <tb-slide-button (slideTogle)="slideToggle($event)" *ngIf="hasToggle() && this.isEdited==false"
                       [size]="size" [state]="getState()">
      </tb-slide-button>

    </div>
  </div>
  <div class="device-icon-body">
    <div fxLayout="row"
         fxLayoutAlign="space-between center" style="height: 50%; width: 100%; font-size: 10px;">
      <div style="width: 100%;height: 100%">
        <div class=" cut-text"> {{name}}</div>
      </div>
      <!--<div style="width: 20%;height: 100%">
        <mat-icon [svgIcon]="renderDeviceTypeicon()" style="width: 20px;height: 30px;"></mat-icon>
      </div>-->

    </div>
    <div fxLayout="row" fxLayoutAlign="end center" style="height: 50%;width: 100%;">
      <div>
        <mat-icon [svgIcon]="renderDeviceTypeicon()" style="width: 20px;height: 30px;"></mat-icon>
      </div>
    </div>
  </div>
  <div *ngIf="isEdited===false" class="device-icon-bottom" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="entity-state cut-text size-text">
      <div [style.color]="getColor()">
        {{renderState()}}
      </div>
    </div>
    <div class="entity-spinder">
      <apollo-processing [show]="isProcessing" size="20"></apollo-processing>
    </div>
  </div>
  <div *ngIf="isEdited===true" class="device-icon-bottom">
    <tb-edit-entity [apollo]="apollo"
                    [nodeTree]="nodeTree"
                    [(selection)]="selection">
    </tb-edit-entity>
    <!--      <div>
            <mat-icon (click)="settingEvent.emit($event);" style="color: black;">settings</mat-icon>
          </div>
          <div>
            <mat-icon (click)="removeClick($event);" style="color: red;">delete</mat-icon>
          </div>-->
  </div>
</div>

<div (click)="entityClick($event)" *ngIf="!deviceController"
     [style.font-size.px]="size*0.10"
     [style.height.px]="size"
     [style.width.px]="size"
     class="entity-box" fxLayout="column"
     fxLayoutAlign="space-evenly center">
  <div class="entity-top" fxLayout="row" fxLayoutAlign="space-between center">
    <div class=" cut-text" style="height: 50%; font-weight: bold; font-size: 1em;">
      {{nodeTree?.name}}
    </div>
  </div>
  <div class="entity-icon" fxLayout="column" fxLayoutAlign="center center">
    Thiết bị chưa hỗ trợ
  </div>
</div>
