<div class="body-item-container">
  <ng-container [ngSwitch]="pageView">
    <!--        <ng-container *ngSwitchCase="PageView.ANALYZE">
                <tb-analyze-layout [apollo]="apollo" [callbackEvent]="callbackEvent" [rootNodeTree]="rootNodeTree">

                </tb-analyze-layout>
            </ng-container>-->
    <ng-container *ngSwitchCase="PageView.MAP">
      <widget-map-view (entityDoubleClick)="nodeTreeClick($event)" (reloadEvent)="reload()" [apollo]="apollo"
                       [childrenNodeTree]="childrenNodetree" [parentNodeTree]="parentNodeTree"
                       [callbackEvent]="callbackEvent">

      </widget-map-view>
    </ng-container>
    <ng-container *ngSwitchCase="PageView.AUTOMATION">
      <tb-automation-layout [callbackEvent]="callbackEvent" [apollo]="apollo" [rootNodeTree]="rootNodeTree">

      </tb-automation-layout>
    </ng-container>
    <ng-container *ngSwitchCase="PageView.SCHEDULER">
      <tb-scheduler-layout [callbackEvent]="callbackEvent" [apollo]="apollo" [rootNodeTree]="rootNodeTree">

      </tb-scheduler-layout>
    </ng-container>
    <ng-container *ngSwitchCase="PageView.NORMAL">

      <ng-container *ngIf="!!parentNodeTree" [ngSwitch]="parentNodeTree.type">
        <ng-container *ngSwitchCase="NodeTreeType.GATEWAY">
          <ng-container [ngSwitch]="parentNodeTree.model">
            <ng-container *ngSwitchCase="EntityModel.APOLLO">
              <tb-ble-page [apollo]="apollo" [nodeTree]="parentNodeTree">
              </tb-ble-page>
            </ng-container>
            <ng-container *ngSwitchCase="EntityModel.DQSMART">
              <tb-dqsmart-page [apollo]="apollo" [nodeTree]="parentNodeTree">
              </tb-dqsmart-page>
            </ng-container>
            <ng-container *ngSwitchCase="EntityModel.PELAB_LORA">
              <tb-pelab-page [apollo]="apollo" [nodeTree]="parentNodeTree">
              </tb-pelab-page>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="NodeTreeType.HUB">
          <tb-hub-page [apollo]="apollo" [nodeTree]="parentNodeTree">
          </tb-hub-page>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <div *ngIf="checkIsEmpty()===false" class="body-sidenav-content" fxLayout="row"
               fxLayoutAlign="space-around center">
            <button (click)="createApolloNodeTree()" *ngIf="isEdited" class="add-new-entity"
                    mat-flat-button>
              <mat-icon>add</mat-icon>
              Thêm mới
            </button>

            <p *ngIf="!isEdited"> Không tìm thấy thực thể. Vui lòng vào chế độ chỉnh sửa và thêm thực thể mới.</p>
          </div>
          <tb-area-layout (nodeTreeClick)="nodeTreeClick($event)" (reloadEvent)="reload()"
                          *ngIf="getEntityByType(NodeTreeType.AREA).length>0" [apollo]="apollo" [isEdited]="isEdited"
                          [nodeTrees]="getEntityByType(NodeTreeType.AREA)" [scale]="sizeIcon">
          </tb-area-layout>
          <tb-scene-layout (nodeTreeClick)="nodeTreeClick($event)" (reloadEvent)="reload()"
                           *ngIf="getEntityByType(NodeTreeType.SCENE).length>0" [apollo]="apollo" [isEdited]="isEdited"
                           [nodeTrees]="getEntityByType(NodeTreeType.SCENE)">
          </tb-scene-layout>
          <tb-group-layout (nodeTreeClick)="nodeTreeClick($event)" (reloadEvent)="reload()"
                           *ngIf="getEntityByType(NodeTreeType.GROUP).length>0" [apollo]="apollo" [isEdited]="isEdited"
                           [nodeTrees]="getEntityByType(NodeTreeType.GROUP)">
          </tb-group-layout>
          <tb-device-layout (nodeTreeClick)="nodeTreeClick($event)" (reloadEvent)="reload()"
                            *ngIf="getEntityByType(NodeTreeType.DEVICE).length>0" [apollo]="apollo"
                            [isEdited]="isEdited" [nodeTrees]="getEntityByType(NodeTreeType.DEVICE)">
          </tb-device-layout>
          <tb-gateway-layout (nodeTreeClick)="nodeTreeClick($event)"
                             *ngIf="getEntityByType(NodeTreeType.GATEWAY).length>0" [apollo]="apollo"
                             [isEdited]="isEdited" [nodeTrees]="getEntityByType(NodeTreeType.GATEWAY)" scale="100">
          </tb-gateway-layout>
          <tb-hub-layout (nodeTreeClick)="nodeTreeClick($event)" *ngIf="getEntityByType(NodeTreeType.HUB).length>0"
                         [apollo]="apollo" [isEdited]="isEdited" [nodeTrees]="getEntityByType(NodeTreeType.HUB)"
                         scale="100">
          </tb-hub-layout>

        </ng-container>

      </ng-container>
    </ng-container>
  </ng-container>
</div>
