.button-right {
  text-align: right;
  align-items: end;
}

fieldset {
  legend {
    color: #000000
  }

  padding: 5px;
  border: solid 1px #1500ff;

}

.width-form-field {
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}
