<!--
<mat-form-field class="mat-block">
  <mat-label>Đặt tên</mat-label>
  <label>
    <input [(ngModel)]="name" matInput type="text">
  </label>
  <button (click)="name=''" *ngIf="name" aria-label="Clear" mat-icon-button matSuffix>
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
-->

<tb-text-input [(text)]="name" name="Tên"></tb-text-input>


<div>
  <tb-node-tree-selection-with-id (closeEvent)="renderDeviceFromHub()"
                                  [(selection)]="hubNodeTreeIdSelected"
                                  [datasource]="hubNodeTrees" name="Chọn Hub">
  </tb-node-tree-selection-with-id>

  <!--  <button (click)="renderDeviceFromHub()"> Load Data</button>-->

</div>

<fieldset>
  <legend>Cấu hình nguồn điều khiển</legend>
  <ng-container *ngIf="type===NodeTreeType.AUTOMATION">
    <mat-form-field class="mat-block">
      <mat-label>Chuẩn thiết bị</mat-label>
      <mat-select [(ngModel)]="fromDeviceModel"
                  [formControl]="inputModelFormControl">
        <mat-option
          *ngFor="let key of ApolloDeviceArray "
          [value]="key">{{key}}</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="fromDeviceModel===ApolloDeviceModel.ZIGBEE">
      <tb-zb-node-selection-with-id (closedEvent)="renderZigbeeDeviceFromId(); "
                                    [(nodeId)]="fromZbNodeId"
                                    [datasource]="zbNodeSource"
                                    name="Thiết bị">
      </tb-zb-node-selection-with-id>
      <tb-number-input
        [(text)]="fromZbEndpoint" name="End point">
      </tb-number-input>
      <tb-number-input
        [(text)]="fromZbValue" name="Giá trị">
      </tb-number-input>
      <tb-text-input
        [(text)]="fromZbName" name="Tên">
      </tb-text-input>

      <tb-comparison-selection [(selection)]="comparisonType">

      </tb-comparison-selection>
      <div>
        <fieldset>
          <legend>Gợi ý.</legend>
          <div style="color: green">Trạng thái cuối cùng</div>
          <table>
            <tr>
              <td> Address:</td>
              <td>  {{zbStateParams?.addr}} </td>
            </tr>
            <tr>
              <td> End point:</td>
              <td>   {{zbStateParams?.ep}} </td>
            </tr>
            <tr>
              <td> Name state:</td>
              <td> {{zbStateParams?.state?.name}}  </td>
            </tr>
            <tr>
              <td> Value:</td>
              <td>  {{zbStateParams?.state?.val}} </td>
            </tr>
            <tr>
              <td> Time update:</td>
              <td>   {{zbTimeUpdate}}   </td>
            </tr>
          </table>
          <div style="text-align: center;align-items: center;">
            <button (click)="openDialogSelectZigbeeCmd()" style="width: 100px;margin: 10px;">Mở rộng</button>
            <button (click)="applyZigbeeInput()" style="width: 100px;margin: 10px;">Áp dụng</button>
          </div>
        </fieldset>

      </div>
      <!--        <div style="width: 50%; ">
                <div>
                </div>
                <label> Giá trị mới < Giá trị cài đặt</label>

              </div>-->
    </ng-container>
    <ng-container *ngIf="fromDeviceModel===ApolloDeviceModel.BLE_SIG_MESH">
      Đang phát triển... Vui lòng chọn model khác.
    </ng-container>

  </ng-container>
  <ng-container *ngIf="type===NodeTreeType.SCHEDULER">
    <tb-time-input [(text)]="fromTime">

    </tb-time-input>
    <tb-weekend-input [(days)]="fromWeekDays">
    </tb-weekend-input>
  </ng-container>
</fieldset>

<fieldset style="margin-top: 10px;">
  <legend>Cấu hình mục tiêu điều khiển</legend>
  <div style="width: 100%; align-items: end;">
    <button mat-flat-button color="primary" (click)="addNewOutputScript()">
      <mat-label>Thêm</mat-label>
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model</th>
      <td mat-cell *matCellDef="let element"> {{element?.toDeviceModel}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="control">
      <th mat-header-cell *matHeaderCellDef> Control</th>
      <td mat-cell *matCellDef="let element"> {{element?.toControlType}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef> Target</th>
      <td mat-cell *matCellDef="let element"> {{element?.toBleTarget}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value</th>
      <td mat-cell *matCellDef="let element"> {{element?.toBleValue}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsRenderOutput"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsRenderOutput;"></tr>
  </table>

  <div>
    <div>
      <mat-form-field class="mat-block">
        <mat-label>Model điều khiển</mat-label>
        <mat-select [(ngModel)]="toDeviceModel"
                    [formControl]="outputModelFormControl">
          <mat-option
            *ngFor="let key of ApolloDeviceArray "
            [value]="key">{{key}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <ng-container *ngIf="toDeviceModel===ApolloDeviceModel.ZIGBEE">
      <div> Đang phát triển... Vui lòng chọn model khác.
      </div>
    </ng-container>
    <ng-container *ngIf="toDeviceModel===ApolloDeviceModel.BLE_SIG_MESH">
      <div style=" width: 100%;">
        <tb-auto-type-control-selection [(selection)]="toControlType"
                                        name="Kiểu điều khiển">
        </tb-auto-type-control-selection>
      </div>

      <div>Mục tiêu điều khiển</div>

      <ng-container [ngSwitch]="toControlType">
        <ng-container *ngSwitchCase="AutoTypeControl.ONOFF">
          <ble-group-selection-input

            [(groups)]="toBleGroup"
            [datasource]="bleGroupSource"
            name="Target Group">
          </ble-group-selection-input>
          <!--        <tb-number-input
                    [(text)]="toBleValue" name="State (0/1)">
                  </tb-number-input>-->
          <mat-form-field class="mat-block">
            <mat-label>State (ON/OFF)</mat-label>
            <mat-select [(ngModel)]="toBleValue">
              <mat-option
                *ngFor="let key of [{value:1, name:'ON'},{value:0, name:'OFF'}] "
                [value]="key.value">{{key.name}}</mat-option>
            </mat-select>
          </mat-form-field>

        </ng-container>

        <ng-container *ngSwitchCase="AutoTypeControl.LIGHTNESS">
          <ble-group-selection-input
            [(groups)]="toBleGroup"
            [datasource]="bleGroupSource"
            name="Target Group">
          </ble-group-selection-input>
          <tb-number-input
            [(text)]="toBleValue" name="Lightness (0-100)">
          </tb-number-input>
        </ng-container>
        <ng-container *ngSwitchCase="AutoTypeControl.SCENE">
          <ble-scene-selection-input
            [(selection)]="toBleScene"
            [datasource]="bleSceneSource"
            name="Target Scene">
          </ble-scene-selection-input>

          <ble-group-selection-input
            [(groups)]="toBleGroup"
            [datasource]="bleGroupSource" name="Group Of Scene">
          </ble-group-selection-input>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</fieldset>
