<div [formGroup]="formGroup">
  <tb-node-tree-selection
    (closeEvent)="renderDeviceFromHub()"
    [(selection)]="hubNodeTreeSelected"
    [datasource]="hubNodeTrees"
    name="Chọn Hub">
  </tb-node-tree-selection>

  <tb-entity-model-select
    [entityTypeModel]="ApolloEntityTypeModel.ApolloDeviceSource"
    formControlName="deviceSource"
    (closeEvent)="renderNodeFromGroupSelected()"
  >
  </tb-entity-model-select>

  <ble-group-selection-input
    *ngIf="formGroup.get('deviceSource').value===ApolloDeviceSource.GROUP"
    (closedEvent)="renderNodeFromGroupSelected();"
    [(groups)]="bleGroups"
    [datasource]="bleGroupSource"
    multiple='true'
    name="Chọn Group">
  </ble-group-selection-input>

  <tb-ble-node-selection-input
    *ngIf="formGroup.get('deviceSource').value===ApolloDeviceSource.DEVICE"
    [(nodes)]="bleNodes"
    [datasource]="bleNodeSource" multiple="true"
    name="Chọn Node">
  </tb-ble-node-selection-input>

</div>
