<tb-node-tree-selection (closeEvent)="renderDeviceFromHub()" [(selection)]="hubNodeTreeSelected"
                        [datasource]="hubNodeTrees"
                        name="Chọn Hub">
</tb-node-tree-selection>
<tb-zb-node-selection-input [(nodes)]="zbNodes"
                            [datasource]="zbNodeSource" multiple="true"
                            name="Chọn Node">
</tb-zb-node-selection-input>
<!--
<div fxLayout="column" fxLayoutAlign="start start" style="width: 100%">

  <div>
    <tb-node-tree-selection (closeEvent)="renderDeviceFromHub()" [(selection)]="hubNodeTreeSelected"
                            [datasource]="hubNodeTrees"
                            name="Chọn Hub">
    </tb-node-tree-selection>
&lt;!&ndash;
    <button (click)="renderDeviceFromHub()"> Load Data</button>
&ndash;&gt;
  </div>
  <div>

    <tb-zb-node-selection-input  [(nodes)]="zbNodes"
                                 [datasource]="zbNodeSource" multiple="true"
                                 name="Chọn Node">
    </tb-zb-node-selection-input>

  </div>
</div>
<tb-button-with-processing name="Tạo" [disable]="loading" (onClick)="createNodeEntity()">

</tb-button-with-processing>
-->
