<div class="area-layout-container" *ngIf="nodeTrees.length>0" >
  <div class="area-tittle">Khu vực:</div>
  <div #containerAreas class="area-item-container" fxLayout="row" fxLayoutAlign="start  center">
    <ng-container *ngFor="let entity of nodeTrees;let idx = index">
      <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 10px;">
        <div class="area-item" (click)="clickNodeTree($event, entity)"
             [style.background-image]="fetchBackgroupIcon(entity?.additionalInfo?.iconBlock)|async"
             [style.height.px]="200*scale/100"
             [style.margin-left.px]="calcSpaceBetween(nodeTrees.length,containerAreas.clientWidth - 10,300*scale/100)"
             [style.min-width.px]="300*scale/100"
             >
          <div *ngIf="isEdited" class="area-edit-menu">
            <tb-edit-entity (settingEvent)="settingNodeTree($event,entity)"
                            [apollo]="apollo"
                            [nodeTree]="entity"
                            hasSetting="true">
            </tb-edit-entity>
          </div>
        </div>

        <div class="area-name"
          [style.margin-left.px]="calcSpaceBetween(nodeTrees.length,containerAreas.clientWidth - 10,300*scale/100)"
          [style.min-width.px]="300*scale/100"

          style="height: 20px;font-size: 15px;font-weight: bold;">
          {{entity?.name}}
        </div>
      </div>

    </ng-container>

  </div>

</div>
