:host {
  ::ng-deep .mat-form-field-infix {
    //height: 25px !important;
    font-size: 15px !important;
    padding: 0px 0 5px 0 !important;
  }

  ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; z-index: 999;}
  ::ng-deep {
    .mat-form-field {
      border: 0px !important;
      height: 25px !important;
      font-size: 15px !important;
      padding: 0px 0 5px 0 !important;
    }
    .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      transform: translateY(-1.1em) scale(.75);
    }
  }
}
#map{
  width: 100%;
}


.red{
  fill: red;
  color: red;
  background-color: red;
}
.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}
.drawer-container{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.body-sidenav-content {
  display: inline;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.control-sidenav {
  padding: 0px;
  width: 300px;
}

.header-center{
  text-align: center;
  vertical-align: middle;
}

.center {

  justify-content: center;
}
