<div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;height: 40px;">
  <!--  <div>
      <label for="select-entities">Chọn thực thể:</label>
      <mat-form-field appearance="outline" id="select-entities" style="width: 200px;">
        <mat-select (closed)="selectedEntityEvent()" [(ngModel)]="nodeTrees" [formControl]="entityForm"
                    multiple>
          <mat-option
            *ngFor="let obj of childrenNodeTree"
            [value]="obj.id.id">{{obj.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>-->
  <button (click)="saveData()" mat-flat-button>
    <mat-icon>save</mat-icon>
    Lưu
  </button>
  <button (click)="setting()" mat-flat-button>
    <mat-icon>settings</mat-icon>
    Cài đặt bản đồ
  </button>
</div>
<div [id]="apollo.ctx.widget.id" style="width:100%; height: calc(100% - 40px)"></div>
