<div class="ble-mesh-view-body" fxLayout="column" fxLayoutAlign="start center">
  <h5>Trang quản lý thiết bị {{nodeTree.name}}</h5>
  <div fxLayout="column" fxLayoutAlign="start center" style="width: 100%;">
    <div class="content">
      <mat-table
        [dataSource]="datasource"
        class="mat-elevation-z8" style="color: black;width: 100%">
        <ng-container matColumnDef="No">
          <mat-header-cell *matHeaderCellDef class="table-header" mat-header-cell> STT</mat-header-cell>
          <mat-cell *matCellDef="let element; let row = index;"
                    class="table-cell"
                    mat-cell> {{row + 1}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef class="table-header" mat-header-cell> Tên</mat-header-cell>
          <mat-cell *matCellDef="let element;" class="table-cell" mat-cell>
            {{element?.deviceName}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Address">
          <mat-header-cell *matHeaderCellDef class="table-header" mat-header-cell> Địa chỉ</mat-header-cell>
          <mat-cell *matCellDef="let element; let row = index;" class="table-cell" mat-cell>
            {{element?.deviceAdressStr}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef class="table-header" mat-header-cell> Model</mat-header-cell>
          <mat-cell *matCellDef="let element;" class="table-cell" mat-cell>
            <!--        <div style="font-size: 14px;font-weight: bold;">{{ZigbeeModelTypeLabelMapping[element?.model]}}</div>
                    <div style="color: green">{{ element?.model}}</div>-->
            {{element?.deviceStatus ? "ON" : "OFF"}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Power">
          <mat-header-cell *matHeaderCellDef class="table-header" mat-header-cell> Model</mat-header-cell>
          <mat-cell *matCellDef="let element;" class="table-cell" mat-cell>
            {{element?.power }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Energy">
          <mat-header-cell *matHeaderCellDef class="table-header" mat-header-cell> Model</mat-header-cell>
          <mat-cell *matCellDef="let element;" class="table-cell" mat-cell>
            {{element?.energy  }}
          </mat-cell>
        </ng-container>
        <!--
            <ng-container matColumnDef="Tool">
              <mat-header-cell *matHeaderCellDef class="table-header" mat-header-cell> Tool</mat-header-cell>
              <mat-cell *matCellDef="let element;" class="table-cell" mat-cell>
                <button (click)="removeDevice($event, element)" mat-flat-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
        -->

        <mat-header-row
          *matHeaderRowDef="columnsAnalyze">
        </mat-header-row>
        <mat-row
          (click)="editDevice(datasource[idx])" *matRowDef="let row; let idx = index; columns:columnsAnalyze;  ">
        </mat-row>
      </mat-table>
    </div>
  </div>
</div>

