<div *ngIf="nodeTrees.length>0" class="container-areas">
  <div>
    <div class="header-container-areas">Ngữ cảnh:</div>
  </div>
  <div #containerGateway class="content-container-areas" fxLayout="row" fxLayoutAlign="start  center">
    <ng-container *ngFor="let entity of nodeTrees;let idx = index">
      <div
        [style.margin-left.px]="calcSpaceBetween(nodeTrees.length,containerGateway.clientWidth - 10,100)"
        class="parent_container">
        <icon-scene-entity
          (settingEvent)="settingNodeTree($event,entity)"
          [apollo]="apollo"
          [isEdited]="isEdited"
          [nodeTree]="entity"
          size="100">

        </icon-scene-entity>
      </div>
    </ng-container>

  </div>
</div>
