<tb-node-tree-selection (selectionChange)="getEntityFromGateway($event)"
                        [datasource]="gwNodeTreeSource"
                        name="Nguồn Gateway">
</tb-node-tree-selection>


<tb-dqsmart-entity-selection (closeEvent)="renderDqSmartNodeTree($event)"
                             [datasource]="iotDeviceSource"
                             [domains]="domains"
                             multiple="true"
                             name="Dqsmart Entities">
</tb-dqsmart-entity-selection>

<!--


<tb-button-with-processing (onClick)="save()" [disable]="loading" name="Tạo">

</tb-button-with-processing>
-->
