:host {
  min-width: 380px;
  flex: 0 0 auto;
  padding: 10px;
  box-sizing: border-box;

  .rb-container {
    width: 100%;
    height: 100%;
    border: 1px black solid;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;

    p {
      margin: 5px;
    }

    background-color: #FAE205;

  }

  @media (max-width: 600px) {
    width: 100%;
    max-width: 100%;

    .rb-params {
      //flex-direction: column;
    }
  }
}
