<div *ngIf="data.nodeTreeController" style="width: 100%">
  <tb-toolbar-shared [name]="data?.nodeTreeController?.renderName()"
                     [icon]="data?.nodeTreeController?.renderIcon()"
                     (cancel)="cancel()"></tb-toolbar-shared>

  <div mat-dialog-content style="width: 100%;">
    <div *ngFor="let element of maxElementIndex" fxLayout="column" fxLayoutAlign="space-between center"
         style="width: 100%;">
      <label>Đèn {{element}}</label>
      <div fxLayout="row" fxLayoutAlign="center start">
        <div>
          <div (click)="setState($event,1,element)" class="on-button" matTooltip="ON">
            <mat-icon> power_settings_new</mat-icon>
          </div>
          <div (click)="setState($event,0,element)" class="off-button" matTooltip="OFF">
            <mat-icon>power_settings_new</mat-icon>
          </div>
        </div>
        <apollo-group-control *ngIf="hasLightness"
                              (lightnessChange)="lightnessChange($event,element)"
                              [lightness]="lightness"
                              [size]="!data?.nodeTreeController.apollo.ctx.isMobile?250:200">
        </apollo-group-control>
      </div>
      <div fxLayout="row" fxLayoutAlign="center start" style="height: 100%">
        <div>
          <hsl-controller (hslDefaultChange)="hslChange($event,element)"
                                *ngIf="hasHsl"
                                [size]="!data.nodeTreeController.apollo.ctx.isMobile?215:150">
          </hsl-controller>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="!data.nodeTreeController">
  <h5>Không tìm thấy node</h5>
</div>

