.example-radio-group {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: flex-start;
}

.example-radio-button {
  margin: 15px;
}

.on-button,
.off-button {
  width: 80px;
  height: 50px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

.on-button:hover,
.off-button:hover {
  background-color: #0f7800;
}

.off-button {
  background-color: #f44336;
}

.off-button:hover {
  background-color: #b92d2d;
}
