<div class="div-width" fxLayout="column" fxLayoutAlign="center center">
  <div class="div-width">
    <tb-text-input [(text)]="hassUrl" name="HassUrl">

    </tb-text-input>

    <tb-text-input [(text)]="token" name="Token">

    </tb-text-input>
    <!--

    <tb-text-input [(text)]="username" name="Username">

    </tb-text-input>

    <tb-text-input [(text)]="password" name="Password">

    </tb-text-input>-->

  </div>

  <div class="div-width" fxLayout="row" fxLayoutAlign="start center">
    <button (click)="check();" style="margin-right: 20px;">Kiểm tra</button>
    <span [style.color]="this.status === 'API running.'?'green':'red'"> Kết quả: {{status}}</span>
  </div>

</div>
