<div *ngIf="!!controller" fxLayout="column" fxLayoutAlign="center center">
  <label>Lightness</label>
  <apollo-group-control
    (lightnessChange)="lightnessChange($event)"
    (stateChange)="stateChange($event)"
    [size]="!controller?.apollo?.ctx?.isMobile?270:270">

  </apollo-group-control>
  <label style="margin-top: 15px;">CTL</label>
  <ctl-controller [size]="!controller.apollo.ctx.isMobile?220:220"
                  (ctlChange)="ctlChange($event)">
  </ctl-controller>
  <label style="margin-top: 15px;">HSL</label>
  <hsl-controller (hslDefaultChange)="hslChange($event)"
                  [size]="!controller?.apollo?.ctx?.isMobile?220:220">
  </hsl-controller>


</div>


<div *ngIf="!controller">
  <h5>Không tìm thấy node</h5>
</div>
