<h3 mat-dialog-title>{{data?.entityController?.name}}</h3>

<div mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center center " style="width: 400px;">
    <div fxLayout="row" fxLayoutAlign="space-between  center " style="width: 100%;height: 40px;">
      <div>
        {{data?.entityController?.name}}
      </div>
      <div> {{data?.entityController.climateHass.operatureMode}}
        {{temperature}}&deg;C
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between  center " style="width: 100%;height: 40px;">
      <div>
        Bật/Tắt
      </div>
      <div>
        <label (click)="slideTogle()" [style.height.px]="100*0.15" [style.width.px]="100*0.3" class="switch">
          <input [checked]="data?.entityController.renderState().rawState.onOffState" type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between  center " style="width: 100%;height: 40px;">
      <div>
        Nhiệt độ mục tiêu
      </div>
      <div> {{temperature}}&deg;C
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between  center " style="width: 100%;height: 80px;">
      <div>
        <label style="font-size: 30px;">{{temperature}}&deg;C</label> (Max:{{tempHigh}}, Min:{{tempLow}})
      </div>

      <div fxLayout="column" fxLayoutAlign="center center ">
        <button (click)="increaseTemperature()" aria-label="Clear" class="large"
                mat-icon-button
                matSuffix>
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button (click)="decreaseTemperature()" aria-label="Clear" class="large"
                mat-icon-button
                matSuffix>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
    </div>
    <label>
      <mat-form-field appearance="outline" class="form-filed">
        <mat-label>DQ Smart Gateway</mat-label>
        <mat-select (selectionChange)="setOperationMode()"
                    [(ngModel)]="operationMode"
                    [formControl]="operationModeForm"
        >
          <mat-option
            *ngFor="let key of ListOperationMode "
            [value]="key ">{{key}}</mat-option>
        </mat-select>
      </mat-form-field>
    </label>
    <label>
      <mat-form-field appearance="outline" class="form-filed">
        <mat-label>DQ Smart Gateway</mat-label>
        <mat-select (selectionChange)="setFanMode()"
                    [(ngModel)]="fanMode"
                    [formControl]="fanModeModeForm">
          <mat-option
            *ngFor="let key of FanList "
            [value]="key ">{{key}}</mat-option>
        </mat-select>
      </mat-form-field>
    </label>
  </div>
</div>
<div align="center" mat-dialog-actions>
  <button mat-button mat-dialog-close>Ok</button>
</div>

