<div style="width: 100%;height: 40px; ">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start stretch" style="width: 60%">
      <div matTooltip="Quay lại" style="display: inline-block;margin-left: 10px;">
        <button (click)="backEvent.emit()" aria-label="Clear" class="large"
                mat-icon-button
                matSuffix>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div matTooltip="Về điểm bắt đầu" style="display: inline-block; margin-left: 10px;">
        <button (click)="home()"
                aria-label="Clear" class="large" mat-icon-button matSuffix>
          <mat-icon>home</mat-icon>
        </button>
      </div>

      <div *ngIf="!this.apollo.ctx.isMobile" matTooltip="Xem ở chế độ bản đồ"
           style="display: inline-block;margin-left: 10px;margin-bottom: 10px;">
        <button (click)=" mapViewEvent.emit(mapView)" class="large" mat-icon-button matSuffix>

          <mat-icon svgIcon="map-view"></mat-icon>
        </button>
      </div>

      <div *ngIf="!this.apollo.ctx.isMobile && apollo.isAdmin">
        <button (click)="schedulerToggle.emit()"
                aria-label="Đặt lịch" mat-icon-button matSuffix
                matTooltip="Đặt lịch">
          <mat-icon>schedule</mat-icon>
        </button>

      </div>
      <div *ngIf="!this.apollo.ctx.isMobile && apollo.isAdmin">
        <button (click)="automationViewEvent.emit()"
                aria-label="Tự động" mat-icon-button matSuffix
                matTooltip="Tự động">
          <mat-icon svgIcon="automation"></mat-icon>
        </button>
      </div>

      <div *ngIf="!this.apollo.ctx.isMobile">
        <button (click)="analyzeViewEvent()"
                aria-label="Thống kê" mat-icon-button matSuffix
                matTooltip="Thống kê">
          <mat-icon>pie_chart</mat-icon>
        </button>
      </div>

      <div *ngIf="!this.apollo.ctx.isMobile && false">
        <button (click)="analyzeViewEvent()"
                aria-label="Phân tích" mat-icon-button matSuffix
                matTooltip="Phân tích">
          <mat-icon>pie_chart</mat-icon>
        </button>
      </div>

      <div matTooltip="Thay đổi kích thước icon" style="display: inline-block;margin-left: 20px;">
        <mat-slider max="200" min="50" step="5" style="  margin-left: 5px;">
          <input matSliderThumb value="100" [(ngModel)]="sizeIcon" (change)="sizeIconChange.emit(sizeIcon)">
        </mat-slider>
      </div>

      <div *ngIf="false" matTooltip="Chỉnh sửa" style="display: inline-block;margin-left: 20px;">
        <button (click)="isEdited = !isEdited; isEditedChange.emit(isEdited); editBtnClick()" aria-label="Add"
                mat-icon-button matSuffix>
          <mat-icon *ngIf="isEdited===false">edit</mat-icon>
          <mat-icon *ngIf="isEdited===true" style="color: red;">edit</mat-icon>
        </button>
        <ng-container *ngIf="isEdited">

          <!--          <div class="editor-tool">
                      <button (click)="createApolloTree()" [disabled]="!isEdited" aria-label="Add" mat-icon-button matSuffix
                                                                                  matTooltip="Tạo giao diện mới">
                        <mat-icon>open_in_new</mat-icon>
                      </button>
                    </div>-->

          <div class="editor-tool" matTooltip="Thêm thực thể mới">
            <button (click)="createEntity.emit()" [disabled]="!isEdited" aria-label="Add" mat-icon-button matSuffix>
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="editor-tool" matTooltip="Xóa thực thể">
            <button (click)="delete()" [disabled]="!isEdited" aria-label="Add"
                    mat-icon-button matSuffix>
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>

        </ng-container>
      </div>

    </div>
    <div *ngIf="!apollo.ctx.isMobile && apollo?.isAdmin" fxLayout="row" fxLayoutAlign="start center">
      <div> {{nameLayout}}</div>
      <div class="editor-tool">
        <button (click)="setting()" aria-label="Add" mat-icon-button matSuffix matTooltip="Chọn layout">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="this.apollo.ctx.isMobile" fxLayout="row" fxLayoutAlign="end center" style="width: 10%">

      <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)=" mapViewEvent.emit(mapView)" mat-menu-item>
          <mat-icon svgIcon="map-view"></mat-icon>
          <span>Bản đồ</span>
        </button>
        <button *ngIf=" apollo.isAdmin" (click)="schedulerToggle.emit()" mat-menu-item>
          <mat-icon>schedule</mat-icon>
          <span>Hẹn giờ</span>
        </button>
        <button *ngIf=" apollo.isAdmin" (click)="automationViewEvent.emit()" mat-menu-item>
          <mat-icon svgIcon="automation"></mat-icon>
          <span>Tự động</span>
        </button>
        <button *ngIf="false" (click)="analyzeViewEvent()" mat-menu-item>
          <mat-icon>pie_chart</mat-icon>
          <span>Phân tích</span>
        </button>
        <button *ngIf=" apollo.isAdmin" (click)="setting()" mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Chọn layout</span>
        </button>
      </mat-menu>
    </div>

  </div>

</div>
