<div style="min-width: 400px">
    <mat-toolbar color="primary">
        <h2>Tạo giao diện mới</h2>
        <span fxFlex></span>
        <!--    <div [tb-help]="helpLinkId()"></div>-->
        <button (click)="close()" mat-icon-button type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
    </mat-toolbar>
    <mat-progress-bar *ngIf="isLoading$ | async" color="warn" mode="indeterminate">
    </mat-progress-bar>
    <div *ngIf="(isLoading$ | async) === false" style="height: 4px"></div>

    <div mat-dialog-content>
        <tb-text-input [(text)]="name" name="Tên giao diện"></tb-text-input>
        <tb-text-input [(text)]="label" name="Ghi chú"></tb-text-input>
    </div>
    <div align="center" mat-dialog-actions>
        <button (click)="close()" cdkFocusInitial color="primary" mat-button type="button">
      {{ "action.cancel" | translate }}
    </button>
        <button (click)="save($event)" color="primary" mat-raised-button type="submit">
      {{ "action.add" | translate }}
    </button>
    </div>
</div>
