<div class="dialog">
  <mat-toolbar color="primary">
    <h2>Chọn giao diện</h2>
    <span fxFlex></span>
    <!--    <div [tb-help]="helpLinkId()"></div>-->
    <button (click)="cancel()" mat-icon-button type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="isLoading$ | async" color="warn" mode="indeterminate">
  </mat-progress-bar>
  <div *ngIf="(isLoading$ | async)===false" style="height: 4px;"></div>

  <div mat-dialog-content>
    <div style="width:100%; align-items: end; text-align: end;">
      <label>Thêm giao diện mới</label>
      <button (click)="addApolloTree()" mat-flat-button>
        <mat-icon>add</mat-icon>
      </button>

    </div>
    <!--    <mat-form-field class="mat-block">
          <mat-label>Layout</mat-label>
          <mat-select #allSelected (closed)="isOpen = false" (opened)="isOpen=true;" [(ngModel)]="apolloTreeId"
                      [formControl]="formControl">
            <mat-option *ngFor="let key of datasource" [matTooltip]="key?.label" [value]="key?.id.id"
                        class="selection-2-line">
              <div class="selection-line-1">  {{key.name|json}} </div>
              <div class="selection-line-2">{{ key.createdTime|date: "HH:mm:ss dd/mm/yyyy "}}
              </div>

            </mat-option>
          </mat-select>
        </mat-form-field>-->
    <!--    <div fxLayout="row" fxLayoutAlign="space-around center">
          <div>

          </div>
          <div>
          </div>
        </div>
        <div style="width: 200px; word-wrap: break-word;">
          Để quản lý danh sách layout. Vui lòng sử dụng widget Apollo
          Tree Management.
        </div>-->

    <table [dataSource]="datasource" mat-table>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>Chọn</th>
        <td *matCellDef="let element" mat-cell>
          <mat-radio-button (click)="apolloTreeId = element.id.id" [checked]="apolloTreeId === element.id.id"
                            [value]="element.id.id"></mat-radio-button>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Name</th>
        <td *matCellDef="let element" mat-cell>
          <div class="selection-line-1">  {{element.name|json}} </div>
          <div class="selection-line-2">{{ element.createdTime|date: "HH:mm:ss dd/mm/yyyy "}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="tool">
        <th *matHeaderCellDef mat-header-cell>ID</th>
        <td *matCellDef="let element" mat-cell>
          <div fxLayout="row" fxLayoutAlign=" end center" style="width: 100%">
            <mat-icon (click)="$event.stopPropagation();remove(element.name, element.id.id)"
                      style="margin-right: 15px;">delete
            </mat-icon>
            <mat-icon (click)="$event.stopPropagation();setting(element)" style="margin-right: 5px;">edit</mat-icon>
            <mat-icon (click)="$event.stopPropagation();download(element)" style="margin-right: 5px;">download
            </mat-icon>
            <mat-icon (click)="fileInput.click()">upload</mat-icon>
            <input #fileInput (change)="importApolloTree($event,element)" accept=".json" name="imageUpload"
                   type="file" style="display: none"/>
          </div>

        </td>
      </ng-container>

      <tr *matHeaderRowDef="['select', 'name', 'tool']" mat-header-row></tr>
      <tr *matRowDef="let row; columns: ['select', 'name', 'tool']" mat-row></tr>
    </table>
  </div>

  <div fxLayoutAlign="end center" mat-dialog-actions>
    <button (click)="cancel()" [disabled]="(isLoading$ | async)"
            cdkFocusInitial
            color="primary"
            mat-button
            type="button">
      {{ 'action.cancel' | translate }}
    </button>
    <button (click)="save()" [disabled]="(isLoading$ | async)"
            color="primary"
            mat-raised-button
            type="submit">
      {{ 'action.add' | translate }}
    </button>
  </div>

</div>
