@import "../app/modules/apollo/assets/scss/constant";

:host{
  .dialog{
    min-width: 400px
  }

}

.selection-2-line {
  white-space: normal;
  height: unset;
  line-height: 1.2em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}

.selection-line-1 {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

.selection-line-2 {
  color: green;
  width: 100%;
}

.selection-line-3 {
   width: 100%;
  align-items: end;
  text-align: end;
}

