/*

.mat-column-No, .mat-column-createdTime{
  text-align: center;
  color: black;
  width: 5%;
  font-size: 13px;
}

.mat-column-Enable, .mat-column-Edit {
  text-align: center;
  color: black;
  width: 10%;
  font-size: 13px;
}

.mat-column-Name, .mat-column-Model {
  text-align: center;
  color: black;
  font-size: 13px;
}

.mat-column-Control, .mat-column-Time {
  //text-align: center;
  color: black;
  font-size: 13px;
}
*/
.mat-column-Edit {
  text-align: center;
  color: black;
  width: 10%;
  font-size: 13px;
}

fieldset {
  legend {
    color: #000000
  }

  padding: 5px;
  border: solid 1px #1500ff;

}

.table-header {
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.example-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  align-items: end;
}
