<div *ngIf="nodeTrees.length>0" class="container-device">
  <div>
    <div class="header-container-entity">Gateway:</div>
  </div>
  <div #containerGateway class="content-container-entity" fxLayout="row" fxLayoutAlign="start  center">
    <ng-container *ngFor="let entity of nodeTrees;let idx = index">
      <div
        [style.margin-left.px]="calcSpaceBetween(nodeTrees.length,containerGateway.clientWidth - 10,100)"
        class="parent__container">
        <tb-gateway-icon (nodeTreeClick)="nodeTreeClick.emit(entity)"
                         [apollo]="apollo"
                         [isEdited]="isEdited"
                         [nodeTree]="entity" [scale]="scale">
        </tb-gateway-icon>
      </div>
    </ng-container>
  </div>
</div>
