<div [formGroup]="formGroup" style="min-width: 400px;">
  <mat-toolbar color="primary">
    <h2>Chỉnh sửa nhóm</h2>
    <span fxFlex></span>
    <!--    <div [tb-help]="helpLinkId()"></div>-->
    <button (click)="cancel()"
            mat-icon-button
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="isLoading$ | async" color="warn" mode="indeterminate">
  </mat-progress-bar>
  <div *ngIf="!(isLoading$ | async)" style="height: 4px;"></div>
  <div mat-dialog-content>
    <tb-entity-model-select disable="true" [entityTypeModel]="ApolloEntityTypeModel.GatewayModel"
                            formControlName="model">

    </tb-entity-model-select>
    <ng-container [ngSwitch]="formGroup.get('model').value">
      <ng-container *ngSwitchCase="EntityModel.APOLLO">

        <tb-setting-group-from-apollo (createEvent)="createAndSave($event)" [addTrigger]="addTrigger"
                                      [apollo]="data.apollo"
                                      [nodeTree]="data?.nodeTree"
                                      [parentNodeTree]="data?.parentNodeTree">
        </tb-setting-group-from-apollo>
      </ng-container>
      <ng-container *ngSwitchCase="EntityModel.DQSMART">


      </ng-container>
      <ng-container *ngSwitchCase="EntityModel.PELAB_LORA">
        <tb-create-pelab-group (createEvent)="createAndSave($event)" [addTrigger]="addTrigger"
                               [apollo]="data.apollo"
                               [parentNodeTree]="data?.parentNodeTree">

        </tb-create-pelab-group>

      </ng-container>
    </ng-container>
    <div fxLayoutAlign="end center" mat-dialog-actions>
      <button (click)="cancel()" [disabled]="(isLoading$ | async)"
              color="primary"
              mat-button
              type="button">
        {{ 'action.cancel' | translate }}
      </button>
      <button (click)="addTrigger = !addTrigger;" [disabled]="(isLoading$ | async)"
              color="primary"
              mat-raised-button
              type="submit">
        {{ 'action.add' | translate }}
      </button>
    </div>
  </div>
</div>
