<div (click)="clickNodeTree($event,nodeTrees)" class="gateway-icon" fxLayout="column"
     fxLayoutAlign="center center">

  <div>
    <mat-icon style="width: 50px;height: 50px"
              svgIcon="gateway_v1">

    </mat-icon>
  </div>
  <div>  {{nodeTrees?.name}} </div>

  <div *ngIf="isEdited" fxLayout="row" fxLayoutAlign="end center" style="width: 100%;">
    <tb-edit-entity hasSetting="true"  (settingEvent)="settingNodeTree($event,nodeTrees)"
                    [(selection)]="selection"
                    [apollo]="apollo"
                    [nodeTree]="nodeTrees">

    </tb-edit-entity>
    <!--    <mat-icon (click)="removeNodeTree($event,nodeTrees)" matTooltip="Xóa"
                  style="margin-right: 20px;color: red;">delete
        </mat-icon>
        <mat-icon (click)="settingNodeTree($event,nodeTrees)" matTooltip="Cài đặt">settings
        </mat-icon>-->
  </div>
</div>
