<!--
<tb-zb-node-selection-input (closedEvent)="closedEvent.emit();"
                            [(nodes)]="nodes"
                            (nodesChange)="nodesChange.emit(nodes)"
                            [datasource]="zbNodeSource"
                            [multiple]="multiple"
                            [name]="name">
</tb-zb-node-selection-input>
-->

<mat-form-field appearance="outline" style="width: 200px; margin-right:10px; margin-left:10px;">
  <mat-label>{{name}} </mat-label>
  <mat-select (closed)="closedEvent.emit()" (selectionChange)="nodesChange.emit(nodes)" *ngIf="multiple" [(ngModel)]="nodes"
              [formControl]="formControl"
              multiple>
    <mat-option
      *ngFor="let key of zbNodeSource"
      [value]="key">{{key?.addr}} - {{key?.name}}</mat-option>
  </mat-select>
  <mat-select (closed)="closedEvent.emit()" (selectionChange)="nodesChange.emit(nodes)" *ngIf="!multiple"
              [(ngModel)]="nodes"
              [formControl]="formControl">
    <mat-option
      *ngFor="let key of zbNodeSource"
      [value]="key">{{key?.addr}} - {{key?.name}}</mat-option>
  </mat-select>
</mat-form-field>
