.entity-box:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px #1900ff;
}

.entity-box {
  border: 0px solid rgb(10, 10, 10);
  border-radius: 10px;
  font-size: 18px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  table-layout: fixed;
  box-shadow: 0px 0px 10px #000000;
}


.entity-top {
  width: 90%;
  height: 30%;
  //background-color: green;
}

.entity-body {

  font-weight: bold;
  font-size: 1em;
  width: 90%;
  height: 40%;
  //background-color: red;
}
.entity-bottom {
  width: 90%;
  height: 20%;
  //background-color: yellow;
}
.entity-icon {
  text-align: center;
  align-items: center;

  display: flex;
  width: 40%;
  height: 100%;
  //background-color: #1800ff;
}

.entity-switch {

  width: 40%;
  height: 100%;
  //background-color: #ff009c;
}


.cut-text {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entity-state{
  //width: 50%;
  height: 100%;
}
.entity-other-value{
  //width: 25%;
  height: 100%;
}

.size-text{

  font-weight: bold;
  font-size: 1em;
}
