::ng-deep .mat-select-panel mat-option.mat-option {
  height: unset;
  line-height: 1.2em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}

::ng-deep .mat-option-text.mat-option-text {
  white-space: normal;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 200px; margin-right:10px; margin-left:10px;}
