<div class="area-setting-container">
  <mat-toolbar color="primary">
    <h2>Cấu hình khu vực: {{name}}</h2>
    <span fxFlex></span>
    <button (click)="cancel()"
            mat-icon-button
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="isLoading$ | async" color="warn" mode="indeterminate">
  </mat-progress-bar>
  <div *ngIf="(isLoading$ | async)===false" style="height: 4px;"></div>

  <div mat-dialog-content>
    <tb-text-input [(text)]="name" name="Tên" style="width: 100%;"></tb-text-input>
    <div [style.background-image]="convertIcon(iconBlock)|async" class="mini-icon" id="mini-icon1">
      <input #fileInputIcon (change)="openDialogUploadImageIconEntity($event) " id="imageUpload" name="imageUpload"
             style="display: none" type="file"/>
      <button (click)="iconBlock = '';" aria-label="Clear" mat-icon-button matSuffix>
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="fileInputIcon.click();" aria-label="Clear" mat-icon-button matSuffix>
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>
    <div style="margin-top: 20px;font-size: 12px;font-weight: bold;">
      Cấu hình bản đồ
    </div>

    <mat-form-field class="mat-block">
      <mat-label>Loại bản đồ</mat-label>
      <mat-select [(ngModel)]="mapType" [formControl]="mapTypeForm">
        <mat-option
          *ngFor="let key of MapTypeSrouce "
          [value]="key">{{MapTypeMappingLable[key]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="mapType===MapType.imageMap">
      <div [style.background-image]="convertIcon(urlImageMap)|async" class="mini-icon" id="mini-icon3">
        <input #fileInputIcon2 (change)="openDialogUploadImageMapEntity($event) " id="imageUpload3"
               name="imageUpload1"
               style="display: none" type="file"/>
        <button (click)="iconStreetMap = '';" aria-label="Clear" mat-icon-button matSuffix>
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="fileInputIcon2.click();" aria-label="Clear" mat-icon-button matSuffix>
          <mat-icon>add_photo_alternate</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>

  <div fxLayoutAlign="end center" mat-dialog-actions>
    <button (click)="cancel()" [disabled]="(isLoading$ | async)"
            color="primary"
            mat-button
            type="button">
      {{ 'action.cancel' | translate }}
    </button>
    <button (click)="save($event)" [disabled]="(isLoading$ | async)"
            color="primary"
            mat-raised-button
            type="submit">
      {{ 'action.add' | translate }}
    </button>
  </div>

</div>


<!--
<h3 mat-dialog-controller-title>Cấu hình khu vực: {{name}}</h3>

<div *ngIf="nodeTree">
  <div fxLayout="column" fxLayoutAlign="center center" mat-dialog-controller-content style="width: 400px;">
    <div>
      <tb-text-input [(text)]="name" name="Tên" style="width: 100%;"></tb-text-input>
    </div>
    <div>
      <div [style.background-image]="convertIcon(iconBlock)" class="mini-icon" id="mini-icon1">
        <input #fileInputIcon (change)="openDialogUploadImageIconEntity($event) " id="imageUpload" name="imageUpload"
               style="display: none" type="file"/>
        <button (click)="iconBlock = '';" aria-label="Clear" mat-icon-button matSuffix>
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="fileInputIcon.click();" aria-label="Clear" mat-icon-button matSuffix>
          <mat-icon>add_photo_alternate</mat-icon>
        </button>
      </div>
    </div>
    <div>
      <p>Cấu hình bản đồ</p>
    </div>

    <mat-form-field appearance="outline" class="form-filed">
      <mat-label>Loại bản đồ</mat-label>
      <mat-select [(ngModel)]="mapType" [formControl]="mapTypeForm">
        <mat-option
          *ngFor="let key of MapTypeSrouce "
          [value]="key">{{MapTypeMappingLable[key]}}</mat-option>
      </mat-select>
    </mat-form-field>

&lt;!&ndash;    <ng-container *ngIf="mapType==MapType.openStreetMap">
      <div [style.background-image]="convertIcon(iconStreetMap)" class="mini-icon" id="mini-icon2">
        <input #fileInputIcon1 (change)="openDialogUploadImageIconStreetMapEntity($event) " id="imageUpload1"
               name="imageUpload1"
               style="display: none" type="file"/>
        <button (click)="iconStreetMap = '';" aria-label="Clear" mat-icon-button matSuffix>
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="fileInputIcon1.click();" aria-label="Clear" mat-icon-button matSuffix>
          <mat-icon>add_photo_alternate</mat-icon>
        </button>
      </div>
    </ng-container>&ndash;&gt;
    <ng-container *ngIf="mapType==MapType.imageMap">
      <div [style.background-image]="convertIcon(urlImageMap)" class="mini-icon" id="mini-icon3">
        <input #fileInputIcon2 (change)="openDialogUploadImageMapEntity($event) " id="imageUpload3"
               name="imageUpload1"
               style="display: none" type="file"/>
        <button (click)="iconStreetMap = '';" aria-label="Clear" mat-icon-button matSuffix>
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="fileInputIcon2.click();" aria-label="Clear" mat-icon-button matSuffix>
          <mat-icon>add_photo_alternate</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>

  &lt;!&ndash;  <div>
      <mat-form-field appearance="outline" class="form-filed">
        <mat-label>Tọa độ Latitude</mat-label>
        <label>
          <input [(ngModel)]="lat" [formControl]="latForm" matInput type="text">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-filed">
        <mat-label>Tọa độ Longitude</mat-label>
        <label>
          <input [(ngModel)]="lng" [formControl]="lngForm" matInput type="text">
        </label>
      </mat-form-field>
    </div>&ndash;&gt;

  <div align="center" mat-dialog-controller-actions>
    <button (click)="save($event)" mat-button>Lưu</button>
  </div>
</div>
<div *ngIf="!nodeTree">
  <h4>Không tìm thấy thực thể</h4>
</div>
-->
